.section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1110px;
}

.card__img {
    width: 445px;
    height: 445px;
    margin-right: 125px;
}

.card__content {
    width: 540px;
    padding: 20px;
}

.card__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 34px;
}

.card__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #7A746E;
    margin-bottom: 32px;
}

.card__cta {
    width: 228px;
    height: 56px;
    background-color: #eb7565;
    border-radius: 28px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    border: none;
}

.card__cta:hover {
    background-color: #F6A560;
}