.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.125rem 10.3125rem
}

.header__img {
    display: block;
    width: 4rem; 
    height: 4rem;
}

.header__btn {
    width: 14.25rem;
    height: 3.5rem;
    border-radius: 1.75rem;
    border: none;
    background-color: #030303;
    color: #FFF7F0;
    line-height: 1.75rem;
    font-weight: 700;
}